<h2>投稿編集</h2>

<%= form_with model:@list, url: book_path, local:true do |f| %>
  <table>
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :body %></th>
      <td><%= f.text_area :body, size: '22x5' %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit '送信' %></td>
    </tr>
  </table>
<% end %>